<html>

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - 玄奇</title>
    <link rel="apple-touch-icon" href="/static/apple-touch-icon-大集合！（搭建桌面用）/小林家的龙女仆2/apple-touch-icon.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha256-93wNFzm2GO3EoByj9rKZCwGjAJAwr0nujPaOgwUt8ZQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css"
        integrity="sha256-cAyk5KZc7P6j7j/uL7MOoN4PRsZYp+BN9yo03Y6Qk38=" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<body>
    <div id="app">
        <!-- ↓标题栏。 -->
        <div style="border-bottom: 5px solid #e87b00;">
            <b-navbar toggleable="lg" type="light" variant="warning" class="NOBORDER">
                <b-navbar-brand class="NOBORDER"
                    style="font-family: serif;font-size: 24px;font-weight: 500;">&nbsp;&nbsp;&nbsp;网站综合</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav style="padding: 0px 10px 0px 10px;">

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item-dropdown right>
                            <!-- Using 'button-content' slot -->
                            <template #button-content>
                                <em>
                                    <span v-if="! isLoggedIn">登录/注册</span>
                                    <span v-if="isLoggedIn">已登录 | 我的账户</span>
                                    <svg viewBox="785 321 40 40" width="19px" height="19px" class="align-text-bottom">
                                        <g id="Canvas_1" stroke="none" stroke-opacity="1" fill="none"
                                            stroke-dasharray="none" fill-opacity="1">
                                            <title>Canvas 1</title>
                                            <g id="Canvas_1_Layer_1">
                                                <title>Layer 1</title>
                                                <g id="Graphic_2">
                                                    <title>Account Circle</title>
                                                    <path
                                                        d="M 805 321 C 793.96 321 785 329.96 785 341 C 785 352.04 793.96 361 805 361 C 816.04 361 825 352.04 825 341 C 825 329.96 816.04 321 805 321 Z M 805 327 C 808.32 327 811 329.68 811 333 C 811 336.32 808.32 339 805 339 C 801.68 339 799 336.32 799 333 C 799 329.68 801.68 327 805 327 Z M 805 355.4 C 800 355.4 795.58 352.84 793 348.96 C 793.06 344.98 801 342.8 805 342.8 C 808.98 342.8 816.94 344.98 817 348.96 C 814.42 352.84 810 355.4 805 355.4 Z"
                                                        fill="#633" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </em>
                            </template>
                            <!-- <b-dropdown-item v-if="isLoggedIn" href="/account-info">基本信息</b-dropdown-item> -->
                            <b-dropdown-item v-if="isLoggedIn" @@click="logout">退出登录</b-dropdown-item>
                            <b-dropdown-item v-if="!isLoggedIn"
                                @@click="$bvModal.show('bv-modal-login')">登录</b-dropdown-item>
                            <b-dropdown-item v-if="!isLoggedIn"
                                @@click="$bvModal.show('bv-modal-signup')">注册新用户</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>

        <div style="padding: 17px;">
            @RenderBody()
        </div>

        <!-- ↓注册modal。 -->
        <b-modal id="bv-modal-signup" hide-footer @@show="entershoulddefault = true"
            @@hide="entershoulddefault = false">
            <b-overlay :show="busy_connecting_backend" rounded="sm">
                <template #modal-title>
                    注册<code>新用户</code>
                </template>
                <div class="d-block text-center">
                    <h3>Hello! 欢迎来到佳辞谱~~~</h3>
                    <span style="color: #e87b00;">本网站支持用户名密码注册登录。<br>用户名密码注册需保存妥善密码，网站不提供找回，密码丢失账户余额将无法追回。</span>
                    <br>
                    <b-form-input v-model="signup_username" type="username"
                        placeholder="输入独一无二的 用户名~"></b-form-input><br>
                    <b-form-input v-model="signup_password" type="password" name="password" id="password"
                        placeholder="密码"></b-form-input><br>
                    <b-form-input v-model="signup_pwdconfirm" type="password" autocomplete="new-password"
                        placeholder="再次确认 密码"></b-form-input>
                </div>
                <b-button class="mt-3" block @@click="signup">注册</b-button>
                <b-button class="mt-3" variant="danger" block @@click="$bvModal.hide('bv-modal-signup')">取消</b-button>
            </b-overlay>
        </b-modal>
        <!-- ↓登录modal。 -->
        <b-modal id="bv-modal-login" hide-footer @@show="entershoulddefault = true" @@hide="entershoulddefault = false">
            <b-overlay :show="busy_connecting_backend" rounded="sm">
                <template #modal-title>
                    <code>用户登录</code>
                </template>
                <div class="d-block text-center">
                    <h3>Hello! 欢迎登录佳辞谱~~~</h3>
                    <br>
                    <b-form-input v-model="signup_username" type="username" placeholder="输入用户名~"></b-form-input><br>
                    <b-form-input v-model="signup_password" type="password" placeholder="密码"></b-form-input><br>
                </div>
                <b-button class="mt-3" block @@click="login(3)">登录(不受信)<br>【非常用/公共/不安全设备适用】【有效期3分钟】</b-button>
                <b-button class="mt-3" variant="success" block @@click="login(10080)">登录<br>【常用设备适用】【有效期7天】</b-button>
                <b-button class="mt-3" variant="danger" block @@click="$bvModal.hide('bv-modal-login')">取消</b-button>
            </b-overlay>
        </b-modal>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"
        integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
        integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"
        integrity="sha256-duDNIhfVrUK7HB/57nPLxN/j92aM3rhTUFzVI/H5ex8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jssha@2.3.1/src/sha256.js"
        integrity="sha256-NyuvLfsvfCfE+ceV6/W19H+qVp3M8c9FzAgj72CW39w=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        isLoading = false
        var app = new Vue({
            el: '#app',
            data: {
                isLoggedIn: false,
                busy_connecting_backend: false,
                isQueryingBackend: false,
                entershoulddefault: false,
                query_txt: '',
                last_query_txt: '',
                signup_username: '',
                signup_password: '',
                signup_pwdconfirm: ''
            },
            methods: {
                signup: function () {
                    if (this.signup_username.length < 2) { window.alert("用户名长度不得小于2位，请重新输入！"); return; }
                    if (this.signup_password.length < 5) { window.alert("密码长度不得小于5位，请重新输入！43241243242412"); return; }
                    if (this.signup_password != this.signup_pwdconfirm) { window.alert("两次密码输入不一致，请检查输入！"); return; }
                    this.busy_connecting_backend = true
                    console.log("sign up.", this.signup_username, this.signup_password, this.signup_pwdconfirm);
                    var hashObj = new jsSHA("SHA-256", "TEXT", { numRounds: 1 });
                    hashObj.update(this.signup_username + this.signup_password + "salter2333");
                    var hash = hashObj.getHash("HEX");
                    console.log('generated login auth:', hash);
                    axios.post('/sign-up', {
                        username: this.signup_username,
                        auth: hash,
                    }).then(function (response) {
                        // console.log(response);
                        // console.log(response.data);
                        signup_state = response.data;
                        app.busy_connecting_backend = false;
                        if (signup_state == 'conflict_username') { window.alert("您的用户名已被他人占用，请重新输入！\n（推荐使用微信登录避免用户名冲突）"); return; }
                        app.$bvModal.hide('bv-modal-signup');
                        window.alert("已注册成功！\n请等待自动登录");
                        app.login();
                    }).catch(function (error) {
                        console.log(error);
                    })
                },
                login: function (remember_mins) {
                    if (this.signup_username.length < 2) { window.alert("用户名长度不得小于2位，请重新输入！"); return; }
                    if (this.signup_password.length < 5) { window.alert("密码长度不得小于5位，请重新输入！"); return; }
                    console.log("log in.");
                    var hashObj = new jsSHA("SHA-256", "TEXT", { numRounds: 1 });
                    hashObj.update(this.signup_username + this.signup_password + "salter2333");
                    var hash = hashObj.getHash("HEX");
                    console.log('generated login auth:', hash, 'connecting to backend...');
                    this.busy_connecting_backend = true;
                    axios.post('/log-in', {
                        username: this.signup_username,
                        auth: hash,
                        remember_mins: remember_mins,
                        time: '' + (new Date) + (new Date).getMilliseconds()
                    }).then(function (response) {
                        // console.log(response);
                        // console.log(response.data);
                        login_state = response.data;
                        app.busy_connecting_backend = false;
                        if (login_state != 'ok') {
                            if (login_state == 'already_logged_in') { window.alert("当前用户已经登录。出现此提示应为前端错误，请您刷新网页。"); return; }
                            if (login_state == 'nosignup') { window.alert("当前用户尚未注册。请您先注册哟~"); return; }
                            window.alert("登录失败，应是用户名或密码错误。请检查输入~\n未注册需先注册。"); return;
                        }
                        app.$bvModal.hide('bv-modal-login');
                        app.isLoggedIn = true;
                        window.alert("登录成功！");
                    }).catch(function (error) {
                        console.log(error);
                    })
                },
                logout: function () {
                    console.log("log out.");
                    axios.post('/log-out', {}).then(function (response) {
                        app.isLoggedIn = false;
                        window.alert("退出登录成功！");
                    }).catch(function (error) {
                        console.log(error);
                    })
                },
            }
        })
    </script>
</body>

</html>
