<div
    style="padding: 20px;margin: 10px;border-radius: 18px;box-shadow: 10px 5px 25px rgb(250, 249, 242);background-image: linear-gradient(rgb(248, 241, 223), rgb(247, 248, 223));">
    <center>
        <h2>📺👀🤖🥕</h2><br>RERERERERERERERE~
    </center>
</div>